body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
}

main {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  bottom: 0;
}

#cabecalho {
  background-color: #31364f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#tituloPrincipal {
  color: #adf0f3;
  font-size: 50px;
  /* background-color: chartreuse; */
  padding: 20px;
  margin-bottom: 10px;
}

#navbar {
  background-color: #98b9f7;
  display: flex;
  padding: 10px;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

#navbar a {
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

#navbar a:hover {
  color: #31364f;
  text-decoration: underline;
}

#noticias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cardNoticia {
  width: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #2b4880;
}

.cardNoticia img {
  width: 100%;
  border-radius: 5px 5px 0 0;
  height: 300px;
}

.cardNoticia h2 {
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  color: #ffffff;
}

.bodyCard {
  padding: 16px;
  color: #ffffff;
}

.rodape {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding: 16px 128px;
  align-items: center;
  background-color: #31364f;
}

.redesSociais {
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.redesSociais a {
  color: #ffffff;
  margin: 5px;
  font-size: 18px;
  text-decoration: none;
}

.redesSobre {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.redesSobre a {
  color: #000000;
  margin: 5px;
  font-size: 18px;
  text-decoration: none;
}

.redesSobre a:hover {
  color: #2b4880;
  text-decoration: underline;
}

.redesSociais a:hover {
  color: #2b4880;
  text-decoration: underline;
}

.copyright {
  color: #ffffff;
  font-size: 18px;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px;
}

.banner img {
  border-radius: 5px;
  margin-right: 50px;
}

.descricao {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.descricao h2 {
  font-size: 50px;
}

.descricao p {
  font-size: 20px;
  margin-top: 20px;
}

.formulario {
  width: 400px;
  padding: 16px 32px;
  border-radius: 4px;
  background-color: #33a4c1;
}

.formulario h2 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}

.formulario form {
  display: flex;
  flex-direction: column;
}

.formulario label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.formulario input {
  font-size: 18px;
  padding: 12px 16px;
  margin-bottom: 16px;
}

.formulario textarea {
  font-size: 18px;
  padding: 12px 16px;
  margin-bottom: 18px;
}

.formulario button {
  font-size: 20px;
  padding: 12px;
  margin-bottom: 24px;
}

.fontes {
  display: flex;
  flex-direction: column;
}

.fontes h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.fontes div {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.fontes a {
  font-size: 30px;
  margin: 10px;
}
